body {
    /* for old brouthers */
    background: #fbc2eb;

    background: linear-gradient(to right, rgba(251,194,235,1), rgba(166,193,238,1) );

    /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 40px;
}

.btn .btn-border {
    border: 3px;
}